:root {
  --color-background: #1f1f1f;
  --color-input: #2c2c2c;
  --color-primary: #bc2e30;
  --color-accent: #c5aa70;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: "Merriweather Sans", serif;
  font-optical-sizing: auto;
  background-color: var(--color-background);
  color: white;
  overflow-x: hidden;
  min-height: 100dvh;
}

#app {
  height: 100%;
}

.tooltip {
  position: absolute;
  padding: 5px 10px;
  font-weight: lighter;
  font-size: 12px;
  background-color: var(--color-input);
  color: #fff;
  border-radius: 15px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease;
  z-index: 1000;
}

.tooltip-top {
  transform: translate(-50%, -100%);
}

.tooltip-bottom {
  transform: translateX(-50%);
}

.tooltip-left {
  transform: translate(-100%, -50%);
}

.tooltip-right {
  transform: translateY(-50%);
}
